/* rwd img css，可當作是CSS Reset其中一個，即BS .img-fluid讓圖片可依父元素進行縮放 */
img{
    max-width: 100%;
    height: auto;
}
/* 全域 border box */
*,*::before,*::after{
    box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
a{
    text-decoration: none;
}
// 移除瀏覽器配置user agent stylesheet
h1,h2,h3,p{
    margin: 0;
}
body{
    font-family: $font-family-base;
    // font-size 瀏覽器預設大小就為 16px ，所以不需在特別設定。
    // font-size:$font-m;
    line-height: 24px;
}