.container{
    max-width: 1140px;    
    margin: 0 auto;
    padding: 0 15px;
}

.nav-link{
    display: block;
    // color: #8D8D8D;
    padding: 16px;
    border-bottom: 2px solid #fff;
    // font-size: $font-l;
    // color: $link-color;
    &:hover{
        color: $color;
        border-bottom: 2px solid $color;
    }
}
.nav-brand{
    color: #fff;
    display: block;
    padding: 14px;
    &:hover{
        background: lighten($color,3%);
    }
}
.badge {
    display: block;
    color: #fff;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}
.btn{ 
    color: $link-color;
    &:hover{
        // font-weight: bold;
        border-bottom: 2px solid $link-color;
    }
}
.btn-white{ 
    display: block;
    text-align: center;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    &:hover{
        // font-weight: bold;
        background: #FFFFFF4D;
        border-bottom: 2px solid #FFFFFF;
    }
}
.btn-black{
    display: block;
    text-align: center;
    width: 350px;
    height: 60px;
    // line-height: 60px;
    color: #000;
    border: 2px solid #000;
    border-radius: 30px;
    &:hover{
        // color:#fff ;
        background: #0000000D;
        border: 2px solid #000;
    }
}
.page{
    color: #000;
    &:hover{
        color: #AC8A46;
        text-decoration: underline;
    }
}
.add-cart{
    // text-align: center;
    color: #fff;
}