.text-primary{
    color: #916019;
}
.text-gray{
    color: #8D8D8D;
}
.text-white{
    color: #fff;
}
.text-dark{
    color: #000;
}
.border-primary{
    border: 1px solid $color;
}
.bg-primary{
    background: $color;
}
.bg-gray{
    background: #E0E0E0;
}
.ml-8{
    margin-left: 8px;
}
.ml-30{
    margin-left: 30px;
}
.mb-32{
    margin-bottom: 32px;
}
.mb-60{
    margin-bottom: 60px;
}
.mt-30{
    margin-top: 30px;
}
.mt-80{
    margin-top: 80px;
}
.p-10{
    padding: 10px;
}
.pr-11{
    padding-right: 11px;
}
.pl-30{
    padding-left: 30px;
}
.pl-110{
    padding-left: 110px;
}
.pr-110{
    padding-right: 110px;
}
.pt-8{
    padding-top: 8px;
}
.pt-20{
    padding-top: 20px;
}
.pt-40{
    padding-top: 40px;
}
.pt-60{
    padding-top: 60px;
}
.pb-40{
    padding-bottom: 40px;
}
.pb-60{
    padding-bottom: 60px;
}
.w-190{
    width: 190px;
}
.w-255{
    width: 255px;
}
.w-350{
    width: 350px;
}
.w-555{
    width: 555px;
}
.w-730{
    width: 730px;
}
.h-255{
    height: 255px;
}
.h-540{
    height: 540px;
}
.h-555{
    height: 555px;
}
.h-1080{
    height: 1080px;
}
.font-bold{
    font-weight: bold;
}
.font-20{
    font-size: 20px;
    line-height: 30px;
    
}
.font-24{
    font-size: 24px;
    line-height: 36px;
}
.font-32{
    font-size: 32px;
    line-height: 48px;
}
.font-40{
    font-size: 40px;
    line-height: 60px;
}
.lh-50{
    line-height: 50px;
}
.lh-60{
    line-height: 60px;
}
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
.top-0{
    top: 0;
}
.end-0{
    right: 0;
}
.rounded-circle {
    // border-radius: 50%;
    border-radius: 100%;
    // border-radius 100% 和 50% 是等效的
}
.d-flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.row-reverse{
    flex-direction: row-reverse;
}
.align-center{
    align-items: center;
}
.space-between{
    justify-content: space-between;
}
.jc-center{
    justify-content: center;
}
.line-through{
    text-decoration:line-through;
}
.d-md-none{
    display: none;
}
@media  (max-width:768px){
    img{
        max-width: 100%;
        height: auto;
    }
    .sm-mt-50{
        margin-top: 50px;
    }
    .sm-mb-40{
        margin-bottom: 40px;
    }
    .sm-pl-0{
        padding-left: 0px;
    }
    .sm-pl-15{
        padding-left: 15px;
    }
    .sm-pr-15{
        padding-right: 15px;
    }
    .sm-pt-8{
        padding-top: 8px;
    }
    .sm-pt-40{
        padding-top: 40px;
    }
    .sm-pb-30{
        padding-bottom: 30px;
    }
    .sm-pb-32{
        padding-bottom: 32px;
    }
    .sm-pb-40{
        padding-bottom: 40px;
    }
    .sm-h-auto{
        height: 100%;
    }
    .sm-w-auto{
        width: 100%;
    }
    .d-none{
        display: none;
    }
    .d-md-none{
        display: block;
    }
    .sm-column{
        flex-direction: column;    
    }
    .sm-align-center{
        align-items: center;
    }
    .sm-space-between{
        justify-content: space-between;
    }

}